/* Regular */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-400-normal.woff2') format('woff2'),
       url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Semi-bold */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-600-normal.woff2') format('woff2'),
       url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-600-normal.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-700-normal.woff2') format('woff2'),
       url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Extra-bold */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-800-normal.woff2') format('woff2'),
       url('/node_modules/@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-800-normal.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/node_modules/@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2'),
       url('/node_modules/@fontsource/inter/files/inter-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  @apply bg-white;
  @apply text-gray-900;
  @apply font-title;
}

p, div, span {
  @apply font-body;
}

p {
  @apply font-body;
  @apply text-gray-500;
}
